@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #F84565 rgba(255, 255, 255, 0.05);
}

body {
  color: white;
  background-color: #09090B;
}

 
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F84565;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D63854;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}

 
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  background-color: #1A1A1D !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  font-family: "Outfit", sans-serif !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #27272A !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day {
  color: #d1d5db !important;
  border-radius: 0.375rem !important;
}

.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: #F84565 !important;
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.react-datepicker__day--selected.react-datepicker__day--keyboard-selected {
  background-color: #F84565 !important;
}

.react-datepicker__day--disabled {
  color: #4b5563 !important;
}